body {
	margin: 0;
	padding: 0;
	font-family:'Didact Gothic', sans-serif;
}

body * {
	vertical-align: top;
}

.header {
	background-image: url("images/headerimage.png");
	background-repeat: repeat-x;
	height: 60px;
}

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

.logo {
	display: inline-block;
}

.navbar {
	list-style: none;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	margin-top: -2px;
	text-transform: uppercase;
	margin-left: -20px
}

.navbar li {
	display: inline-block;
	margin-top: 20px;
	margin-left: 30px
}

.menu {
	width: 161px;
	position: absolute;
	right: 0;
	display: inline-block;
	text-transform: none;
	margin-top: 3px;
	color: #fff;
	margin-right: -12px;
}

.springsteen {
	margin: 1px 6px;
	border-radius: 40px;
	width: 31%;
	height: 31%; 
}

.johndoe {
	padding: 16px 0px;
	display: inline-block;
}

.arrow {
	display: inline-block;
	margin: 5px 5px;
}

.whitebox h1 {
	font-size: 31px;
	margin: 0px;
	padding-top: 22px;
	font-weight: lighter;
	height: 67px;
}

.tanbg {
	height: 580px;
	background: rgb(242, 240, 236);
	box-shadow: inset 0px -1px 12px rgb(219, 219, 218);
}

.middlecontainer {
	display: inline-block;
	height: 580px;
	width: 620px;
}

.utwocontainer {
	height: 580px;
	width: 620px;
	display: inline-block;
	margin-left: -3px;
}

.utwo {
	background: url("images/utwo.png");
	width: 620px;
	height: 402px;
	display: inline-block;
	margin-top: 30px;
}

.underbox {
	height: 85px;
	display: inline-block;
	background: rgb(208, 205, 197);

}

.opacity {
	position: relative;
	display: inline-block;
	height: 58px;
	width: 100%;
	background: rgba(17, 17, 17, 0.5);
}

.opacity span.worldtour {
	padding: 20px;
	font-size: 24px;
	color: #fff;
	line-height: 59px;
}

.opacity span.clock {
	position: absolute;
	right: 0; 
	font-size: 14px;
	color: #fff;
	margin-top: 20px;
	margin-right: 25px;
}

.opacity img {
	display: inline-block;
	margin-top: 21px;
	margin-left: 220px;
}

.ribbon {
	display: block;
	position: relative;
	top: 325px;
	height: 35px;
	left: -7px;
	width: 142px;
	background: rgb(249, 207, 0);
}
	
.ribbon:before, el:after {
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
}
	
.ribbon:before {
	display: block;
	left: 0;
	top: 35px;
	border-width: 4px;
	border-color: rgb(249, 207, 0) rgb(249, 207, 0) transparent transparent;
}
	
.ribbon:after {
	display: block;
	right: 0;
	top: 35px;
	border-width: 12px;
	border-color: rgb(249, 207, 0) transparent transparent #6d8b95;
}

.ribbon span {
	font-size: 14px;
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	margin-top: 8px;
	margin-left: 26px;
	text-shadow: rgb(227, 177, 0) 0px 2px;
}

.undergray {
	background: rgb(208, 205, 198);
	display: inline-block;
	height: 85px;
	width: 620px;
}

.undergray span {
	display: inline-block;
	font-size: 19px;
	color: rgb(67, 67, 67);
	margin-top: 18px;
	margin-left: 33px;
	font-style: italic;
}

.joining{
	display: inline-block;
	height: 64px;
	width: 620px;
}
.joining p {
	display: inline-block;
	width: 100%;
	height: 67px;
	font-size: 13px;
	color: rgb(139, 139, 139);
	margin-left: 33px;
	margin-top: 8px;
}

.greyarrow {
	display: inline-block;
	margin-top: -106px;
	margin-left: 8px;
}

.numberscontainer {
	display: inline-block;
	height: 580px;
	width: 334px;
	margin-left: 2px;

}

.mobbers {
	display: inline-block;
	position: absolute;
	right: 0;
	height: 420px;
	width: 309px;
	margin-top: 30px;
	margin-left: 28px;
}

.mobberscontainer {
	display: inline-block;
	position: relative;
	right:0;
	width: 309px;
	height: 155px;
}

.smallmob {
	display: inline-block;
	height: 120px;
	width: 140px;
	background: rgb(208, 205, 198);
}

.secondsmallmob {
	display: inline-block;
	position: absolute;
	right: 0;
	height: 120px;
	width: 140px;
	background: rgb(208, 205, 198);
}

.darkgrayfirst {
	left: 0;
height: 35px;
position: absolute;
margin-top: 120px;
width: 140px;
background: rgb(166, 159, 145);
display: inline-block;
}

.darkgraybox {
	right: 0;
	position: absolute;
	height: 35px;
	margin-top: 120px;
	width: 140px;
	background: rgb(166, 159, 145);
	display: inline-block;
}

.seconddarkgraybox {
	right: 0;
	position: absolute;
	height: 35px;
	margin-top: 120px;
	width: 140px;
	background: rgb(166, 159, 145);
	display: inline-block;
	margin-left: 20px
}

.smallmob span {
	font-size: 76px;
	color: #fff;
	text-shadow: rgb(181, 181, 181) 0px 3px;
	display: inline-block;
	margin: 12px 24px;
}

.secondsmallmob span {
	font-size: 76px;
	color: #fff;
	text-shadow: rgb(181, 181, 181) 0px 3px;
	display: inline-block;
	margin: 12px 8px;
}

.darkgrayfirst span {
	line-height: 35px;
	margin-left: 35px;
	font-size: 16px;
	color: rgb(65, 65, 65);
	text-transform: uppercase;
	text-shadow: rgb(219, 215, 206) 0px 1px;
}

.darkgraybox span {
	line-height: 35px;
	margin-left: 9px;
	font-size: 16px;
	color: rgb(65, 65, 65);
	text-transform: uppercase;
	text-shadow: rgb(219, 215, 206) 0px 1px;
}

.gradientbtn {
	box-shadow: inset 0px 2px 2px rgb(255, 249, 113);
	position: relative;
	display: inline-block;
	border-style: solid;
	border-width: thin;
	border-color: rgb(211, 175,77);
	border-radius: 6px;
	height: 60px;
	width: 307px;
	margin-top: 30px;

	background: #ffda00; /* Old browsers */
background: -moz-linear-gradient(top,  #ffda00 0%, #e29900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffda00), color-stop(100%,#e29900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffda00 0%,#e29900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffda00 0%,#e29900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffda00 0%,#e29900 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffda00 0%,#e29900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffda00', endColorstr='#e29900',GradientType=0 ); /* IE6-9 */

}

.gradientbtn span {
	font-weight: lighter;
	font-size: 22px;
	color: #fff;
	text-shadow: rgb(200, 149, 0) 0 2px;
	display: inline-block;
	margin: 15px 81px
}


















.awardbox {
	z-index: 10;
	position: relative;
	right: -658px;
	top: 145px;
	height: 83px;
	width: 297px;
	background: #fff;
	border-radius: 6px;
}



.underbox span {
	font-size: 20px;
	color: rgb(70, 70, 70);
	position: absolute; top: 19px; left: 22px;
}



.middlewhite {
	height: 622px;
	background: #fff;
	position: relative;
	display: inline-block;
}
