body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  vertical-align: top;
}

.header {
	
  background-image: url("images/headerimage.png");
  background-repeat: repeat-x;
  height: 60px;
}

.container {
	position: relative;
  width: 960px;
  height:60px;
  margin: 0 auto;
}

.header h1 {
  color: #fff;
  font-size: 16px;
  margin: 0;
  line-height: 50px;
 display: inline-block;
 padding-left: 30px;
 position: relative; top: -25px; left: 60px;
 font-weight: lighter;
}

.account-menu {
	position: absolute;
	right: 0;
	display: inline-block;
}

.banner {
	height: 60px;
	background-color: #fff;

}
.banner h2 {
	font-size: 25px;
	text-align: left;
	font-weight: lighter;
}

.box {
	background: rgb(239, 236, 231);
	height: 575px;
	box-shadow: 0px .5px 1px black;
}

.image {
	position: relative; top: 25px; left: 0px;
}

.numbers {
	height: 142px;
	width: 152px;
	background: rgb(197, 194, 186);
	position: absolute; top: 25px; right: 0px;
	right: 0;
	display: inline-block;
	text-shadow: rgb(137, 137, 137) 0 2px;
}

.numberscopy {
	height: 142px;
	width: 152px;
	background: rgb(197, 194, 186);
	position: relative; top: -376px; right: -639px;
	display: inline-block;
	text-shadow: rgb(137, 137, 137) 0 2px;
}

.box h3{
	font-size: 75px;
	position: relative; top: -45px; left: 32px;
	font-weight: lighter;
	color: #fff;
}

.box h4{
	font-size: 75px;
	position: relative; top: -69px; left: 15px;
	font-weight: lighter;
	color: #fff;
}

.opacityblack {
	height: 55px;
	width: 622px;
	background: black;
	position: relative; top: -35px; right: 0px;
	display: inline-block;
	opacity: .75;
}

.other h5 {
	color: #fff;
	font-size: 25px;
	position: relative; top: -123px; left: 17px;
	font-weight: lighter;
}

.clock {
	position: relative; top: -190px; left: 415px;
	
}

.mobends {
	color: #fff;
	font-weight: lighter;
	font-size: 14px;
	position: relative; top: -220px; left: 445px;
}

.graybox {
	height: 30px;
	width: 152px;
	background: rgb(166, 159, 145);
	position: absolute; top: 5px; right: 0px;
	right: 0;
	display: inline-block;
}

.secondgraybox {
	height: 30px;
	width: 152px;
	background: rgb(166, 159, 145);
	position: absolute; top: 5px; right: 169px;
	display: inline-block;
}

.graybox h6 {
	font-weight: lighter;
	font-size: 12px;
	position: absolute; top: -18px; right: 17px;
	color: rgb(50, 50, 50);
}

.secondgraybox h6 {
	font-weight: lighter;
	font-size: 12px;
	position: absolute; top: -18px; right: 48px;
	color: rgb(50, 50, 50);
}

.yellowbox {
	border-style: solid;
	border-width: thin;
	border-color: rgb(189, 128, 0);
	border-radius: 10px;
	height: 60px;
	width: 321px;
	position: absolute; top: 60px;
	right: 0;
	box-shadow: 0px 1px 3px black;

	background: #ffda00; /* Old browsers */
background: -moz-linear-gradient(top,  #ffda00 0%, #e29900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffda00), color-stop(100%,#e29900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffda00 0%,#e29900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffda00 0%,#e29900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffda00 0%,#e29900 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffda00 0%,#e29900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffda00', endColorstr='#e29900',GradientType=0 ); /* IE6-9 */

}

.yellowbox h1 {
	font-weight: lighter;
	font-size: 22px;
	position: absolute; top: 5px; right: 0px;
	color: #fff;
	text-shadow: rgb(137, 137, 137) 0 2px;
}

.underbox {
	height: 90px;
	width: 622px;
	position: absolute; top: 264px; left: 0px;
	background: rgb(184, 181, 171);

}

.underbox h1 {
	font-size: 16px;
	color: black;
	position: absolute; top: 0px; right: 0px;
}

.yellowsmall {
	height: 30px;
	width: 120px;
	position: absolute; top: 245px; left: -5px;
	background: rgb(235, 191, 0);
}

.yellowsmall h1 {
	font-weight: lighter;
	font-size: 12px;
	position: absolute; top: -11px; left: -10px;
	color: #fff;
	text-shadow: rgb(137, 137, 137) 0 2px;

}

.texts {
	font-weight: lighter;
	font-size: 12px;
	position: absolute; top: 350px; left: 30px;
	color: rgb(137, 137, 137);
}

.award {
	height: 74px; width: 301px;
	position: absolute; top: 124px; right: 10px;
	background: #fff;

}

.pictures {
	position: relative; top: 320px; left: 0px;
	padding-left: 0px;
}